
.collapse-two {
  overflow: hidden;
  transition: all 0.4s; 
}
  .collapse-two.active {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #444;
    max-height: 3000px;
    transition: all 0.4s,max-height 4.8s; }

.collapse-two * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.element-invisible {
  display: none; }



.collapse-two .text-collapse-in {
  display: none; }
.collapse-two.active .text-collapse-in {
  display: block; 
    background-color: white;
}

table td, table th {
    float: left !important;
}


.bg-red {
  background-color: rgba(64, 13, 4, 0.65);
  color: #fff;
      height: 200px;
}

.hv200 {
  height: 150px;
  p {
    line-height: 225px;
    font-size: 40px;
  }
}
.pd-container {
  padding: 0px 50px;
  h2 {
        margin: 40px 0px;
  }
}



.img-details {
  img {
    width: 100%;
  }
  h5 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 7% 0;
  }
}




.pull-right {
  cursor: pointer;
}
ul.bg-open {
  margin: 5% 3%;
}










.bg-residencial {
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
      margin-bottom: 25px;
}






 ul{
  list-style: none outside none;
    padding-left: 0;
        margin: 0;
}
    .demo .item{
        margin-bottom: 60px;
    }
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
  width: 100%;
}
